.layout {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-weight: 500;

  .head {
    width: 100%;
    border-bottom: 0.1px solid #ffffff5f;
    height: 30px;
  }

  .left_content {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  .ant-btn-primary {
    background-color: darkgoldenrod;
    color: black;
    border-color: darkgoldenrod;
  }

  .ant-btn-primary:hover {
    background-color: darkgoldenrod;
    color: black;
    border-color: darkgoldenrod;
  }
}